Task_1_Sort/.vs
Task_1_Sort/Task_1_Sort.sln
Task_1_Sort/Task_1_Sort/Task_1_Sort.csproj
Task_1_Sort/Task_1_Sort/App.config
Task_1_Sort/Task_1_Sort/Properties
Task_1_Sort/Task_1_Sort/obj
Task_1_Sort/Task_1_Sort/bin/Debug/Task_1_Sort.pdb
Task_1_Sort/Task_1_Sort/bin/Debug/Task_1_Sort.exe.config